/* Add this new class for the page background */
.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(ellipse at top left, #9bb8d8, #1a4081);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modify the login-container */
.login-container {
    background-color: rgba(0, 0, 0, 0.151); /* Semi-transparent background */
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    height: auto;
    backdrop-filter: blur(8px); /* Optional: adds a blur effect */
    box-shadow: 0px 0px 25px rgba(32, 32, 32, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.637);
    gap: 20px;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: large;
    margin-top: -15px;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login-container .google-button {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #ffffff;
    background-color: #0000002d;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: border-color 0.3s ease, box-shadow 0.4s ease, background-color 0.2s ease;
}
.login-container .google-button:hover{
    border-color: #bee0e9;
    background-color: rgba(59, 83, 121, 0.432);
    box-shadow: 0px 0px 10px 1px rgba(207, 248, 255, 0.438);
}
.google-logo{
    width: 35px;
    margin-right: 10px;
}

.captcha-container {
    margin-top: 30px; /* Add space above the captcha */
}