.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.google-button {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #ffffff;
    background-color: #00000044;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.google-button:hover {
    border-color: #ff6bf8;
    box-shadow: 0px 0px 15px 5px rgba(255, 29, 153, 0.685);
}
.google-logo{
    width: 50px;
    margin-right: 10px;
}
