html,
body {
  height: 100%; /* Asegúrate de que el cuerpo ocupe el 100% de la altura */
  margin: 0; /* Elimina márgenes */
  overflow: hidden; /* Evita las barras de desplazamiento */
}

canvas {
  display: block; /* Asegúrate de que el canvas ocupe todo el espacio */
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px; /* Aumenta el padding */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px; /* Aumenta el ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  font-size: 22px; /* Aumenta el tamaño de la fuente */
}

.container h3 {
  font-size: 24px; /* Ajusta el tamaño de la fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio inferior */
}

.container p {
  font-size: 16px; /* Tamaño de fuente más grande */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-bottom: 20px; /* Espacio entre párrafo y botón */
}

.container button {
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño de la fuente del botón */
  background-color: #00bfff; /* Color de fondo del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados del botón */
  color: white; /* Color del texto del botón */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave */
}

.container button:hover {
  background-color: #008cba; /* Color de fondo al pasar el mouse */
}
